.Wrap {
  --padding-x: var(--space-300);

  position: absolute;
  inset: 0;
}

.Button {
  --icon-size: var(--20px);

  position: absolute;
  inset-block: 50%;

  color: var(--text-primary-inverse);

  cursor: pointer;

  z-index: 1;

  &.Prev {
    inset-inline-start: var(--padding-x);
  }
  &.Next {
    inset-inline-end: var(--padding-x);
  }
}

@media( width >= 960px ) {
  .Wrap {
    --padding-x: var(--space-400);
  }
  .Button {
    --icon-size: var(--24px);
  }
}