.Wrap {
  position: relative;
  width: 100%;
  height: 100%;

  aspect-ratio: 1 / 1;
}

.Before,
.After {
  position: absolute;
}

@media( width < 480px ) {
  .Before {
    top: -5%;
    left: -33.33%;
    width: 125%;
    rotate: -3.33deg;
  }
  .After {
    top: 12.5%;
    right: -66.67%;
    width: 150%;
    rotate: 3.33deg;
  }
}
@media( width >= 480px ) {
  .Before {
    top: -2.5%;
    left: -33.33%;
    width: 120%;
    rotate: -3.33deg;
  }
  .After {
    top: 17.5%;
    right: -61.8%;
    width: 140%;
    rotate: 3.33deg;
  }
}
@media( width >= 600px ) {
  .Wrap {
    margin-bottom: -1rem;
  }
  .Before {
    top: -2.5%;
    left: -20%;
    width: 112.5%;
  }
  .After {
    top: 17.5%;
    right: -38.2%;
    width: 125%;
  }
}
@media( width >= 720px ) {
  .Wrap {
    aspect-ratio: 5 / 4;
    margin-bottom: 0;
  }
  .Before {
    left: -12.5%;
    width: 100%;
  }
  .After {
    right: -25%;
    width: 107.5%;
  }
}
@media( width >= 800px ) {
  .Wrap {
    --position-x: calc(var(--layout-viewport-padding) * -2);

    aspect-ratio: 9 / 5;
  }
  .Before {
    top: -1.5rem;
    left: var(--position-x);
    width: 75%;
    rotate: -2.5deg;
  }
  .After {
    top: 3rem;
    right: var(--position-x);
    width: 80%;
    rotate: 2.5deg;
  }
}
@media( width >= 960px ) {
  .Wrap {
    --position-x: calc(var(--layout-viewport-padding) * -1);

    margin-bottom: 0;
  }
  .Before {
    top: -2rem;
  }
  .After {
    top: 4rem;
  }
}
@media( width >= 1280px ) {
  .Wrap {
    --position-x: 0;

    aspect-ratio: 5 / 2;
    margin-bottom: 1.5rem;
  }
  .Before {
    width: 63.3%;
  }
  .After {
    width: 66.67%;
  }
}
@media( width >= 1400px ) {
  .Wrap {
    --position-x: var(--layout-viewport-padding);

    margin-bottom: 0;
  }
}
@media( width >= 1600px ) {
  .Wrap {
    --position-x: calc(var(--layout-viewport-padding) * -1);
  }
}