.Icon {
  --_color: var(--icon-color, currentColor);
  --_size: var(--icon-size, 1em);

  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    fill: var(--_color);
    width: var(--_size);
    height: var(--_size);
  }
}