.Cta {
  --button-bg-color: var(--cta-color);
  --_spacing: var(--space-200);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: var(--_spacing);
  padding: var(--_spacing);

  background-color: var(--summary-card-bg-color);
  border-radius: var(--border-radius-xl);

  @media( width >= 480px ) {
    --_spacing: var(--space-300);
    
    border-radius: var(--border-radius-xxl);
  
    width: clamp(20rem, 75%, calc(60% + (var(--_gutter) * 2) + (var(--space-400) * 2)));
    margin-inline: auto;
  }
  @media( width < 960px ) {
    max-width: 25rem;
  }
  @media( width >= 960px ) {
    margin-inline: auto 0;
  }
  @media( width >= 1120px ) {
    width: clamp(24rem, 100%, calc(60% + (var(--_gutter) * 2) + (var(--space-400) * 2)));
  }
  @media( width >= 1280px ) {
    --_spacing: var(--space-400);

    margin-inline: auto;
  }
}