.Wrap {
  row-gap: var(--space-300);

  @media( width >= 960px ) {
    row-gap: var(--space-600);
  }
}

.Heading {
  text-align: center;
}

.ImageWrap {
  position: relative;

  container-type: inline-size;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.Image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;

  border-radius: var(--border-radius-ml);
  box-shadow: var(--elevation-500);

  &.active {
    opacity: 1;
    position: relative;
  }
}

.ToggleButton {
  position: sticky;
  bottom: var(--space-400);

  display: flex;
  
  width: fit-content;
  height: fit-content;

  border: solid 1px var(--color-neutral-400);
  box-shadow: var(--elevation-500);
  border-radius: 2rem;

  margin-top: var(--space-200);

  border: solid 4px hsl(from var(--surface-bg-primary) h s l / 0.5);
  backdrop-filter: blur(16px);
  
  cursor: pointer;

  opacity: 1;
  transition: opacity 0.3s ease;

  & span {
    padding: var(--space-200) var(--space-400);

    background-color: var(--surface-bg-primary);
    color: var(--text-primary);
    font-weight: var(--font-weight-medium);

    border-radius: inherit;

    transition: background-color 0.15s ease;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    & span {
      background-color: var(--color-neutral-100);
    }
  }
}

@media( width < 768px ) {
  .ImageWrap {
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
  }
}
@media( width >= 768px ) {
  .ImageWrap {
    grid-column: 2 / 12;
  }
  .Image {
    border-radius: var(--border-radius-l);
  }
  .ToggleButton {
    margin-top: var(--space-400);
  }
}
@media( width >= 960px ) {
  .ImageWrap {
    grid-column: 2 / 10;
  }
  .Image {
    border-radius: var(--border-radius-xl);
  }
}

.Callouts {
  /* & > * {
    opacity: 1;                    //<-- handled by motion
    transition: opacity 0.3s ease; //<-- handled by motion
  } */
  &.hide {
    & > * {
      opacity: 0 !important;
      pointer-events: none;
    }
  }
}

.Callout {
  position: absolute;
  
  font-size: var(--14px);
  line-height: var(--18px);
  font-weight: var(--font-weight-medium);

  /* TODO */
  /* & button {
    width: 18px;
    height: 18px;
    background-color: var(--color-blue-500);
    border-radius: 50%;
    border: solid 2px #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  } */

  @media( width < 960px ) {
    & span {
      display: none;
    }
  }
  @media( width >= 960px ) {
    min-width: min-content;
    max-width: 21ch;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      
      width: calc(var(--_gutter) - 4px + var(--length));
      height: 1px;
      background-color: var(--text-disabled);
    }
  
    &.left {
      left: calc(var(--_gutter)* -1);
      translate: -100% -50%;
  
      text-align: right;
  
      &::before {
        left: calc(100% + 4px);
      }
    }
    &.right {
      right: calc(var(--_gutter)* -1);
      translate: 100% -50%;
  
      text-align: left;
  
      &::before {
        right: calc(100% + 4px);
      }
    }
  }
}