.IntroHero {
  position: relative;
}

.IntroText {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: var(--space-100);

  margin-block: var(--space-800) var(--space-1200);

  max-width: 60ch;
}

@media( 768px <= width < 960px ) {
  .IntroText {
    margin-block: var(--space-1000) var(--space-1200);
  }
}

@media( width >= 960px ) {
  .IntroText {
    margin-block: var(--space-1200) var(--space-1600);
  }
}

@media( width >= 1280px ) {
  .IntroText {
    margin-block: var(--space-1200) var(--space-2000);
  }
}