.Wrap {
  row-gap: var(--space-500);
  margin-bottom: var(--space-1000);
}

.Section {
  row-gap: var(--space-500);
}

.Header {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.Heading {
  font-size: var(--32px);
  line-height: var(--40px);
  font-weight: var(--font-weight-normal);
  font-stretch: var(--font-width-extra-expanded);
  letter-spacing: var(--letter-spacing--05);
}

@media( width < 768px ) {
  .Header {
    max-width: 25rem;
    margin-inline: auto;
  }
}
@media( width >= 560px ) {
  .Wrap {
    margin-bottom: var(--space-1200);
  }
}
@media( width >= 960px ) {
  .Wrap {
    row-gap: var(--space-1000);
    margin-bottom: var(--space-2000);
  }
  .Section {
    row-gap: var(--space-1000);
  }
  .Heading {
    font-size: var(--40px);
    line-height: var(--48px);
  }
}