.Deliverables {
  --_gap: var(--space-150);

  display: flex;
  flex-direction: column;

  row-gap: var(--_gap);

  & > * + * {
    border-top: solid 1px var(--color-neutral-200);
  }
}
.Deliverable {
  display: flex;
  align-items: center;

  column-gap: var(--_gap);

  padding-block-start: var(--_gap);
}
.Skill {
  flex: none;

  display: flex;
  align-items: center;
  gap: var(--space-100);
}
.Desc {
  flex-grow: 1;
  font-weight: var(--font-weight-medium);
}

@media( width > 960px ) {
  .Deliverables {
    --_gap: var(--space-200);
  }
}