.Logo {
  --logo-height: var(--20px);
  
  position: absolute;
  inset-inline: 0;
  margin-inline: auto;
  
  width: fit-content;

  & svg {
    height: var(--logo-height);
    width: fit-content;

    fill: currentColor;
  }

  @media( width >= 960px ) {
    --logo-height: var(--24px);
  }
}