/**
 * Typography
 */
:root {
  /**
   * Semantic: Base
   */
   /* Font sizes */
  --font-size-display-xs: var(--14px);
  --font-size-display-s: var(--18px);
  --font-size-display-m: var(--20px);
  --font-size-display-l: clamp(var(--56px), calc(16vw - 0.5rem), var(--64px));
  --font-size-display-xl: min(calc(46.4vw - 2rem), var(--160px));

  --font-size-heading-s: var(--20px);
  --font-size-heading-m: var(--24px);
  --font-size-heading-l: var(--32px);

  --font-size-body-xs: var(--10px);
  --font-size-body-s: var(--12px);
  --font-size-body-m: var(--14px);
  --font-size-body-l: var(--16px);

  /* Line Heights */
  --line-height-display-xs: var(--24px);
  --line-height-display-s: var(--24px);
  --line-height-display-m: var(--24px);
  --line-height-display-l: var(--40px);
  --line-height-display-l: clamp(var(--48px), 12.5vw, var(--56px));
  --line-height-display-xl: min(calc(32vw - 0.75rem), 7.5rem);

  --line-height-heading-s: var(--24px);
  --line-height-heading-m: var(--32px);
  --line-height-heading-l: var(--40px);

  --line-height-body-xs: var(--12px);
  --line-height-body-s: var(--16px);
  --line-height-body-m: var(--20px);
  --line-height-body-l: var(--24px);

  /* Font weights */
  --font-weight-light: 200;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 800;

  /* Font widths */
  --font-width-normal: 102.5%;
  --font-width-expanded: 110%;
  --font-width-extra-expanded: 125%;

  /* Letter spacing */
  --letter-spacing--02: -0.02em;
  --letter-spacing--025: -0.025em;
  --letter-spacing--05: -0.05em;
  --letter-spacing--07: -0.07em;

  /**
   * Semantic: ML
   */
  @media( width >= 640px ) {
    --font-size-display-l: var(--64px);
    --line-height-display-l: var(--64px);
  }
  
  /**
   * Semantic: L
   */
  @media( width >= 960px ) {
    /* Font sizes */
    --font-size-display-xs: var(--16px);
    --font-size-display-s: var(--24px);
    --font-size-display-m: var(--28px);
    --font-size-display-l: var(--72px);
    --font-size-display-xl: calc(16vw + 1rem);
    
    --font-size-heading-s: var(--24px);
    --font-size-heading-m: var(--32px);
    --font-size-heading-l: var(--56px);

    --font-size-body-xs: var(--12px);
    --font-size-body-s: var(--14px);
    --font-size-body-m: var(--16px);
    --font-size-body-l: var(--18px);

    /* Line Heights */
    --line-height-display-xs: var(--32px);
    --line-height-display-s: var(--28px);
    --line-height-display-m: var(--32px);
    --line-height-display-l: var(--72px);
    --line-height-display-xl: 1.255ex;

    --line-height-heading-s: var(--32px);
    --line-height-heading-m: var(--40px);
    --line-height-heading-l: var(--64px);

    --line-height-body-xs: var(--16px);
    --line-height-body-s: var(--20px);
    --line-height-body-m: var(--24px);
    --line-height-body-l: var(--26px);
  }
}