.Wrap {
  --_dropdown-padding: var(--space-200);
  --_bg-color: light-dark(var(--surface-bg-primary), var(--surface-bg-primary-inverse));
  --_menu-height: var(--space-200);

  height: var(--_menu-height);

  margin-inline-start: auto;
}

.Trigger {
  /* equalize top alignment with other site header elements */
  margin-top: calc(var(--_menu-height) * -1);
  z-index: 1; /* keep on top */
}
.X {
  display: none !important;
}

.MenuWrap {
  --font-size: var(--14px);
  --line-height: inherit;
  --font-weight: var(--font-weight-light);
  --font-width: var(--font-width-expanded);
}

.Menu {
  display: flex;
}

.Link {
  position: relative;

  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-stretch: var(--font-width);
  line-height: var(--line-height);
}

.MobileFooter {
  display: flex;
  justify-content: space-between;

  margin: 0 var(--layout-viewport-padding) var(--layout-viewport-padding) 0;
}
.Email {
  display: flex;
  flex-direction: column;
  gap: var(--space-50);

  & span {
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing--02);
  }
}
.Socials {
  --icon-size: var(--space-500);
}

@media( width < 960px ) {
  .MenuWrap {
    --font-size: var(--40px);
    --line-height: var(--space-300);

    display: none;
  }
  .BgCircle {
    position: absolute;
    background-color: light-dark(
      hsl(from var(--surface-bg-secondary-inverse) h s l / 0.025),
      hsl(from var(--surface-bg-secondary) h s l / 0.02)
    );
    border-radius: 50%;

    &.c1 {
      top: -15dvh;
      right: -50dvh;
      width: 75dvh;
      height: 75dvh;
      
      z-index: 0;
    }
    &.c2 {
      height: 50dvh;
      top: -25dvh;
      right: -27dvh;
      width: 61.8dvh;
      
      z-index: 1;
    }
  }

  /**
   * Open state
   */
  .Open {
    .Trigger {
      background-color: var(--surface-bg-secondary);
      color: var(--text-primary);

      &:active {
        color: var(--surface-link) !important; /* darker against white bg */
      }
    }
    .X {
      display: flex !important;
    }
    .Hamburger {
      display: none;
    }
    .MenuWrap {
      position: fixed;
      inset: 0 0 0 auto;
      height: 100dvh;

      display: flex;
      flex-direction: column;

      max-width: 560px;
      width: 100%;

      padding-left: var(--layout-viewport-padding);

      background-color: hsl(from var(--_bg-color) h s l / 0.8);
      backdrop-filter: blur(16px);
    }
    .Menu {
      flex: 1 auto;

      flex-direction: column;
      justify-content: center;
      gap: var(--layout-viewport-padding);
    }
    .Button {
      --height: var(--space-500);

      display: flex !important;
    }
  }
  & [data-id="connect-button"] {
    display: none;
  }
}
@media( 560px <= width < 960px ) {
  .MenuWrap {
    --font-size: var(--48px);
  }
}
@media( width >= 960px ) {
  .Trigger {
    display: none;
  }
  .MenuWrap {
    --font-weight: var(--font-weight-medium);
    --font-width: var(--font-width-normal);
    --line-height: var(--space-200);

    /* override Motion mobile styles */
    &,
    & > .Menu,
    & > .Menu > li {
      opacity: 1 !important;
      transform: none !important;
    }
  }
  .Menu {
    align-items: baseline;
    gap: var(--space-50);
  }
  .BgCircle {
    display: none;
  }
  .Link {
    --underline-height: 1ex;
    
    padding: var(--space-150) var(--space-200);
  }
  & [data-id="home"],
  & [data-id="contact"],
  & [data-id="mobile-footer"] {
    display: none;
  }
  & [data-id="connect-button"] {
    margin-left: var(--space-150);
  }
}